<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../../includes/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/week2.css" />
    <title><%= title %></title>
</head>
<body>
    <% include ../../includes/nav.ejs %>
    <h1>Books</h1>
    <a href = "/week4/home" >Add Product</a>
    <a href = "/week4/admin">Admin Access</a>
  
</body>
</html>