<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../../includes/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/week2.css" />
    <title>Book</title>
</head>
<body>
    <% include ../../includes/nav.ejs %>
    <h1><%= title%></h1>
    <p>Please submit a book along with a summary of it's description!</p>
    <form action="/week3/add" method="POST">
        Title: <input type="text" name="book"><br>
        Description: <textarea class="description" name="description" ></textarea><br>
        PDF: <input type="file" name="PDF" accept="application/pdf"><br>
    <button type="submit">Submit</button></form>
</body>
</html>