<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../includes/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/week2.css" />
    <title>Book Present</title>
</head>
<body>
    <% include ../includes/nav.ejs %>
    <h1><%= title %></h1>
    <h2><%= book %></h2>
    <p><%= description %></p>
</body>
</html>